<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <form id = "register_form" action="/user/register" method="POST">
        <h2>Register Form</h2>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Username" name="user_name" required>
        </div>
      
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="Email" name="email" required>
        </div>
      
        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input class="input-field" type="password" placeholder="Password" name="password" required>
        </div>
      
        <button type="submit" class="btn">Register</button>
      </form>
    <a href="/user/login">Already registered Login here.</a>

</body>
</html>